@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Satisfy&display=swap');

:root {
  --header-font: 'heyAugust', 'Satisfy', 'Garamond';
  --content-font: 'Montserrat', 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
  --main-text-color: white;
  --accent-color: #A6E1FA;
}

@font-face {
  font-family: heyAugust;
  src: url(assets/HeyAugust.ttf);
}

body {
  background-image: linear-gradient(150deg, black, #00072D, black);
  min-height: 100vh;
  scroll-behavior: smooth;
  color: var(--main-text-color);
  font-size: 36px;
  font-family: var(--content-font);
  z-index: -2;
  margin: 0;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #A6E1FA;
}

a:hover {
  text-decoration: none;
  color: #0E6BA8;
}

.active {
  color: white;
}

h1, h2 {
  font-family: var(--header-font);
  color: var(--accent-color);
  font-weight: normal;
  text-align: center;
}

.page {
  width: 40vw;
}

.page > p {
  font-size: 80%;
}

.profile-img {
  width: 325px
}

@media screen and (max-width: 1600px) {    
  .page {
    width: 50vw;
  }
/* 
  summary > h4 {
    font-size: 80%;
  } */
}

@media screen and (max-width: 768px) {    
  body {
    font-size: 24px;
  }
  .profile-img {
    width: 200px;
  }
  .page {
    width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  .page {
    width: 90vw;
  }
  .nav > li {
    text-align: center;
    flex: 1 0 25%;
  }
}